<div class="lists projectList clearfix" id="J-project">

    <ul id="projectList">

        <%if(projects){%>
        <% projects.forEach( function ( project ){ %>

        <li data-id="<%= project.id %>" data-isFolder="true">

            <div class="cover"><a href="/file/<%= project.id %>"><%if(project.cover){%><img src=""/><%}else{%><img
                    src="http://img04.taobaocdn.com/tps/i4/T1XOdNFnXXXXauUnsh-210-210.png"/><%}%> </a></div>
            <div class="desc clearfix">
                <div class="info">
                    <h3><%= project.name%></h3>
                    <span class="time"><%= getDate(project.createTime) %></span>
                </div>
                <div class="handle">
                    <a href="#" class="J-viewQR" data-url="/version/mobile/<%= project.id %>">查看二维码</a>
                    <a href="/dirInfo/<%= project.id %>" class="edit">修改</a>
                    <a href="#" class="delete delete-project">删除</a>
                </div>
            </div>
        </li>
        <%})%>
        <%}else{%>
        <li>没东西</li>
        <%}%>

    </ul>
</div>






<script type="text/javascript" src="/javascripts/project.js"></script>
<script>
    KISSY.use("project",function(S,Project){
        new Project();
    });
</script>


       