<div class="lists projectList">

    <div class="fun-bar">
        <div class="project-info">
             <span class="icon"></span>
        </div>

       



    </div>

    <ul>

        <% versions.forEach( function ( version ){ %>
        <li><a href="/version/<%= version._id %>"><img src="/images/<%= project.dirName%>/<%= version.versionId%>/<%= version.mainPicPath%>" alt=""/></a>
            <span class="t"><%= version.name%></span>


            <a href="#" class="J-viewQR" data-url="/version/mobile/<%= version._id %>">分享</a>
            <a href="#" class="J-delete">删除</a>
            <div class="J-qrWrap"></div>
        </li>
        <% }) %>

        <li class="add-version"><a href="/version/add/<%= project._id%>"><span class="icon">+</span></a><span class="t">添加版本</span></li>
    </ul>

</div>

<script type="text/javascript">
    //previewQR(160);
</script>

